body{
    font-family: Tahoma, sans-serif; 
    text-align: center;
}

h1{
    color: green;   
}

.number{
    visibility: collapse
}

.img{
    width: 100px;
    height: 110px;
    cursor: pointer;
}

a:visited{
    color:blue;
}
a:hover{
    color: black;
}

/* Prototipo 1================================================================================== */


/* Screens */

.frame{
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mapItems{
    position: absolute;
    z-index: 200;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 1cm;
    height: 7.2cm;
    margin-right: 0.8cm;
    margin-bottom: 0.5cm
}

.search{
    position: absolute;
    z-index: 100;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 7.2cm;
    height: 1cm;
    margin-bottom: 0.8cm;
}

.mapPopup {
    position: absolute;
    left: 0;
    border: 2px solid black;
    border-radius: 20%;
    margin-left: 0.95cm;
    margin-top: 0.2cm;
    margin-right: 0.8cm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 5.5cm;
    height: 5.3cm;
    background-color: white;
}

.friendPopup {
    position: absolute;
    left: 0;
    border: 1.5px solid grey;
    border-radius: 20%;
    margin-left: 2.3cm;
    margin-top: 0.5cm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4cm;
    height: 2.2cm;
    margin-right: 0.8cm;
    background-color:white;
}

.routePopup {
    position: absolute;
    border-radius: 20%;
    /* border-top-left-radius: 35%;
    border-top-right-radius: 32%; */
    margin-left: 0cm;
    margin-top: -0.1cm;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 7.2cm;
    height: 1.5cm;
}

.screen,
.overlay{
    border-left: 7px solid black;
    border-right: 7px solid black;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    border-radius: 15%;
    background-color :#1f2c3d;
    width: 7.2cm;
    max-width: 7.2cm;
    height: 7.2cm;
    max-height: 7.2cm;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 0.17cm;
}

.mapScreen{
    overflow: scroll;
}

.screen,
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay{
    align-content: center;
}

.screen-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    flex-grow: 3;
}

.screen-horizontal{
    display: -webkit-inline-box;
    overflow: hidden;
}

/* End of screens */

/*Rows and divisions */

.top-row{
    display: flex;
    flex-direction: row;
    padding-right: 0.6cm;
    padding-left: 0.6cm;
    padding-bottom:0.1cm;
    padding-top: 0.1cm;
    font-size: 17px;
    color: white;
    align-items: flex-end;
}

.top-row{
    justify-content: space-between;
}

.top-row-space-around, .top-row-space-between, .top-row-right, .top-row-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding-top: 0.21cm;
}

.top-row-space-around{
    justify-content: space-around;
}

.top-row-space-between{
    justify-content: space-between;
    padding-right: 0.4cm;
    padding-left: 0.4cm;
}

.top-row-right{
    justify-content: flex-end;
    padding-right: 0.6cm;
    padding-bottom: 0.1cm;
}

.top-row-left{
    justify-content: flex-start;
    padding-right: 0.6cm;
    padding-bottom: 0.1cm;
}

.center-row-space-between, 
.center-row-left,
.center-row-space-around{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-row-left{
    justify-content: flex-start;
    padding-left: 0.2cm;
}

.center-row-space-between{
    justify-content: space-between;
}

.center-row-space-around{
    justify-content: space-around;
}

.bottom-row-space-around, 
.bottom-row-space-between,
.bottom-row-center,
.bottom-row-left,
.bottom-row-right{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0.26cm;
}

.bottom-row-space-between{
    justify-content: space-between;
}

.bottom-row-space-around{
    justify-content: space-around;
}

.bottom-row-center{
    justify-content: center;
}

.bottom-row-left{
    justify-content: flex-start;
    padding-left: 0.2cm;
}

.bottom-row-right{
    justify-content: flex-end;
    padding-right: 0.2cm
}

/* End of rows and divisions */

/* Icons and images */

.img2{
    width: 2cm;
    height: 2cm;
    cursor: pointer;
}

.payNowImg{
    width: 4cm;
    height: 4cm;
    cursor: pointer;
    filter: invert(100%)
}

.calling-img{
    width: 3.7cm;
    height: 3.7cm;
    filter: invert(100%)
}

.end-call-img{
    height: 60px;
    width:  60px;
    cursor: pointer;
}

.battery{
    width: 0.8cm;
    height: 0.53cm;
}

.hours{
    font-size: 70px;
    padding-top: 5px;
    color: white;
}

.pair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sos{
    border-top: 4px solid rgb(248, 63, 63);
    border-left: 4px solid  rgb(248, 63, 63);
    color:white;
    background-color: rgb(248, 63, 63);
    font-weight: bold;
    border-radius: 84% 7% 45% 7%;
    height: 1.64cm;
    width:1.64cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.blank{
    height: 69px;
    width:71px;
}

.fingerprint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back{
    height: 1.05cm;
    width: 0.3cm;
    border-radius: 0 30% 30% 0;
    background-color: black;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 2cm;
}

.lock{
    height: 1.05cm;
    width: 0.3cm;
    border-radius: 30% 0 0 30%;
    position: relative;
    align-self: flex-start;
    cursor: pointer;
    margin-top: 2cm;
    background-color: black
}

.arrows{
    height: 1.05cm;
    width: 1.05cm;
    border-radius: 30%;
    position: relative;
    cursor: pointer;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

.health-icon{
    width: 2.7cm;
    height: 2.7cm;
    margin-right: 0.1cm;
    margin-left: 0.1cm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: x-large;
    border-radius:100%;
    cursor: pointer;
    border: 0.5px solid rgb(220, 230, 250);
    color: white;
    background-size: cover;
}

.icon{
    border: 0.5px solid rgb(220, 230, 250);
    border-radius: 15%;
    background-color: white;
    width: 1.2cm;
    height: 1.2cm;
    cursor: pointer;
    box-shadow: 1px 1px lightslategrey;
}

.subtitles{
    margin-top: 2px;
    font-size: 16px;
    color: white;
}

.mytrip-icon{
    width: 70%;
    border: 0.08cm solid rgba(231, 230, 252, 0.699);
    border-radius: 15%;
    box-shadow: 1px 1px rgba(246, 246, 255, 0.288);
    margin-bottom: 2px;
    cursor: pointer;
    background-color: white;
}

.plus-icon{
    border: 0.1cm solid white;
    background-color: white;
    border-radius: 15%;
    width: 0.7cm;
    height: 0.7cm;
    cursor: pointer;
    margin: 3px;
}

.delete-icon{
    border: 0.1cm solid rgb(248, 63, 63);
    background-color: rgb(248, 63, 63);
    box-shadow: 1px 1px rgba(83, 82, 82, 0.575);
    border-radius: 40%;
    width: 0.8cm;
    height: 0.8cm;
    cursor: pointer;
    margin: 3px;
}

.sos-icon{
    border: 0.1cm solid rgb(214, 212, 212);
    background-color: rgb(214, 212, 212);
    border-radius: 50%;
    width: 0.8cm;
    height: 0.8cm;
    cursor: pointer;
    margin: 3px;
}

.hidden-icon{
    background-color: #1f2c3d;
}

.ticket{
    width: 7.0cm;
    border: 0.1cm solid white;
    background-color: white;
    border-radius: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scan {
    filter: brightness(80%);
  }
  
.scan::after {
    content: '';
    position: absolute;
    width: 7.5cm;
    height: 11px;
    background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.226),
      rgb(202, 217, 223));
    animation: scanning 3s linear infinite;
}

@keyframes scanning {
    100% { transform: translate(0, 7cm); }
}

.qrcode{
    width: 35%;
    height: 35%
}

.circle-icon{
    border: 0.1cm solid black;
    border-radius: 50%;
    width: 0.7cm;
    height: 0.7cm;
    cursor: pointer;
    margin: 3px;
}

.full-dot, .dot{
    width: 0.2cm;
    height: 0.2cm;
    border-radius: 50%;
    border: 0.05cm solid white;
    margin: 2px;
}

.greenDot, 
.emptyDot{
    width: 0.4cm;
    height: 0.4cm;
    border-radius: 100%;
    border: 0.05cm solid white
}

.greenDot{
    background-color: green;
}

.full-dot{
    background-color: white;
}

.stars{
    width: 0.5cm;
    height: 0.5cm;
}

.dropdown{
    display: flex;
    border-radius: 15%;
    border: 0.1cm solid black;
}

.planBox{
    width:100%;
    overflow-y:scroll;
    margin-right: 0.2cm;
}

.notifLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius:500px;
    border: 2px solid white;
    cursor: pointer;
}

.plusPlan{
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    width: 0.7cm;
    height: 0.7cm;
    background-color: white
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    overflow-y: hidden
}

::-webkit-scrollbar-thumb{
    background: white;
    height: 10px;
}

::-webkit-scrollbar-corner{
    background: #1f2c3d
}

.planLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3cm;
    align-items: center;
    border-bottom: solid 1px gray;
}

.overlay{
    background-color: black;
    background-size: cover;
}

.overlay-img{
    filter: invert(100%);
    margin-bottom: 20px;
}

.back-button{
    color:white; 
    margin-top: 0px; 
    margin-left: 5px; 
    text-align:left; 
    font-size:20px; 
    cursor: pointer; 
   background-color: grey;
    border:  4px solid grey; 
    border-radius: 10px;
    width: 2.3cm;
    padding-left: 6px;
}

.confirm{
    background-color: black;
    background-size: cover;
}

.sosBpm{
    font-size: 30px;
    color: white;
}

.sosBpmNumber{
    font-size: 40px;
    color:  rgb(248, 74, 74);
}

.sosRectangles{
    width: 6cm;
    margin-left: 0.6cm;
    border: 0.1cm solid white;
    border-radius: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings{
    font-size: 28px;
    margin-left: 0.3cm;
    margin-bottom: 0.5cm;
}

.settingsIcons{
    border: 0.05cm solid white;
    border-radius: 15%;
    width: 0.7cm;
    height: 0.7cm;
    cursor: unset;
    margin: 3px;
    margin-left: 0.2cm;
    margin-right: 0.25cm;
    background-color: white;
}

.settingsRectangles{
    width: 7.5cm;
    margin-left: 0cm;
    border-top: 0.05cm solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.accountRectangle{
    width: 6cm;
    height: 0.8cm;
    margin-left: 0.7cm;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    border: 0.1cm solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.tips{
    font-size: 25px;
}

.tipsRectangles{
    width: 7.5cm;
    margin-left: 0.2cm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.tipsArea{
    border: 0.1cm solid white;
    border-radius:10px;
}

.right-arrow-icon{
    border: 0cm solid black;
    border-radius: 15%;
    width: 0.7cm;
    height: 0.7cm;
    cursor: pointer;
    margin: 3px;
}

.healthName{
    content: attr(data-value);
    font-size: 28px;
    margin-top: 15px;
    text-align: left;
    color: white;

}

.healthBday{
    padding: 2px;
    margin-left: 0px;
}

.med-item{
    border-bottom: dotted white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 9px;
}

.infoData{
    text-align: left;
    font-size:20px;
    color: white;
}

/* Gauges #######################################################*/
.gauge {
    width: 3.8em; height: 3.8em;
    display: inline-block;
    background: rgba(181, 201, 238, 0.13);
    position: relative;
    border: 1px ;
    text-indent: -999em;
    margin: 0.2em;
}
  
.gauge::before {
    content: attr(data-value);
    color: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-indent: 0;
}

#O2 span::before {
    content: attr(data-value) + "%"
}
  
.gauge,
.gauge span,
.gauge span::before,
.gauge span::after {
    border-radius: 8.4em; 
}
 
.gauge span,
.gauge span::before,
.gauge span::after {
    box-sizing: border-box;
    position: absolute; 
    top: 0; left: 0; width: 100%; height: 100%;
}
  
  /* Container clipping handling */
.gauge[data-fill^="6"] span,
.gauge[data-fill^="7"] span,
.gauge[data-fill^="8"] span,
.gauge[data-fill^="9"] span,
.gauge[data-fill^="10"] span{ clip: rect(auto,auto,auto,auto)}
  
.gauge span,
.gauge[data-fill="6"] span,
.gauge[data-fill="7"] span,
.gauge[data-fill="8"] span,
.gauge[data-fill="9"] span,
.gauge[data-fill="10"] span {
clip: rect(0, 3.8em, 3.8em, 1.9em);
}

#O2 span::before,
#O2 span::after {
border: 0.65em solid #ea044d;
box-shadow: 1px 0.15px #ea044d;
content: '';
clip: rect(0, 1.9em, 3.8em, 0);
}

#BPM span::before,
#BPM span::after {
border: 0.65em solid #b5ef07;
box-shadow: 1px 0.15px #b5ef07;
content: '';
clip: rect(0, 1.9em, 3.8em, 0);
}

#KM span::before,
#KM span::after {
border: 0.65em solid #0cc4f2;
box-shadow: 1px 0.15px #0cc4f2;
content: '';
clip: rect(0, 1.9em, 3.8em, 0);
}


.gauge span::before {
transform: rotate(180deg);
}

.gauge[data-fill="0"] span::before{transform: rotate(0deg)}
.gauge[data-fill="5"] span::before{transform: rotate(18deg)}
.gauge[data-fill="10"] span::before{transform: rotate(36deg)}
.gauge[data-fill="15"] span::before{transform: rotate(54deg)}
.gauge[data-fill="20"] span::before{transform: rotate(72deg)}
.gauge[data-fill="25"] span::before{transform: rotate(90deg)}
.gauge[data-fill="30"] span::before{transform: rotate(108deg)}
.gauge[data-fill="35"] span::before{transform: rotate(126deg)}
.gauge[data-fill="40"] span::before{transform: rotate(144deg)}
.gauge[data-fill="45"] span::before{transform: rotate(162deg)}
.gauge[data-fill="50"] span::before{transform: rotate(180deg)}
.gauge[data-fill="55"] span::after{transform: rotate(-162deg)}
.gauge[data-fill="60"] span::after{transform: rotate(-144deg)}
.gauge[data-fill="65"] span::after{transform: rotate(-126deg)}
.gauge[data-fill="70"] span::after{transform: rotate(-108deg)}
.gauge[data-fill="75"] span::after{transform: rotate(-90deg)}
.gauge[data-fill="80"] span::after{transform: rotate(-72deg)}
.gauge[data-fill="85"] span::after{transform: rotate(-54deg)}
.gauge[data-fill="90"] span::after{transform: rotate(-36deg)}
.gauge[data-fill="95"] span::after{transform: rotate(-18deg)}

.healthCircle {
    width: 3.5em; height: 3.5em;
    background: white;
    border: 0.08cm solid rgba(231, 230, 252, 0.699);
    border-radius: 15%;
    box-shadow: 1px 1px rgba(246, 246, 255, 0.288);
    margin: 0.2em;
    cursor: pointer;
}

.profilesCircle {
    width: 1.5cm; height: 1.5cm;
    background: white;
    border: 0.1cm #1f2c3d solid;
    border-radius: 50%;
    margin: 0.2em;
    cursor: pointer;
}

.invisibleCircle {
    width: 1.7em; height: 1.5em;
    background: none;
    border: 1px;
    border-radius: 50%;
    margin: 0.2em; 
}

.healthSubtitles{
    margin-top: 0px;
    font-size: 16px;
    color: white;
}

.profilesInstructions{
    font-size: 27px;
    /* font-weight: bold; */
    color: white;
    margin-top: 0.2cm;
}

/* Phone ringing ###################################################### */

.phone {
    width: 3.7cm;
    height: 3.7cm;
    margin-bottom: 0.3cm;
    -webkit-animation: NAME-YOUR-ANIMATION 2s infinite;
    -webkit-animation-iteration-count:infinite;
}

.phone:before {
    font-family: FontAwesome;
    /* content: "\f095"; */
    font-size: 17px;
}

@-webkit-keyframes NAME-YOUR-ANIMATION{
  0% {
  }
  10% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg); 
  }
  20% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
  30% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg);       
  }
   40% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
  50% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg);       
  }
   60% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
  70% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg);       
  }
  80% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
  90% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg);       
  }
   100% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
}


/* Toggle switch 1 #################################################### */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  input.cmn-toggle-round + label {
    padding: 2px;
    width: 35px;
    height: 17.5px;
    background-color: #dddddd;
    border-radius: 60px;
    bottom: -0.17cm;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round + label:after {
    width: 19px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: 17px;
  }

  /* Toggle switch 2 #################################################### */
  .cmn-toggle2 {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle2 + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  input.cmn-toggle-round2 + label {
    padding: 2px;
    width: 35px;
    height: 17.5px;
    background-color: #dddddd;
    border-radius: 60px;
    bottom: -0.17cm;
  }
  input.cmn-toggle-round2 + label:before,
  input.cmn-toggle-round2 + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round2 + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round2 + label:after {
    width: 19px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.cmn-toggle-round2:checked + label:before {
    background-color: #8ce196;
  }
  input.cmn-toggle-round2:checked + label:after {
    margin-left: 17px;
  }

  .iconDate{
    border-radius: 50%;
    width: 1.2cm;
    height: 1.2cm;
    cursor: pointer;
    box-shadow: 1px 1px lightslategrey;
}

.iconDate:active{
    background-color: rgba(0,0,0,0.3);
}

.map{
    overflow: scroll;
    border-radius:15%
}

.map:hover::-webkit-scrollbar{
    display: initial
}

.map::-webkit-scrollbar{
    display: none
}

.map::-webkit-scrollbar-button,
.map::-webkit-scrollbar-track-piece,
.map::-webkit-scrollbar-corner,
.map::-webkit-resizer { display: none; }


.friendsMap {
        max-width: 7.2cm;
        width: 7.2cm;
        max-height: 7.2cm;
        height: 7.2cm;
        object-fit: cover;
}