body{
    font-family: Tahoma, sans-serif; 
    text-align: center;
}

h1{
    color: green;   
}

.number{
    visibility: collapse
}

.img{
    width: 100px;
    height: 110px;
    cursor: pointer;
}

a:visited{
    color:blue;
}
a:hover{
    color: black;
}

/* Prototipo 1================================================================================== */


/* Screens */

.frame{
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.screen{
    border-left: 7px solid black;
    border-right: 7px solid black;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    border-radius: 15%;
    width: 7.5cm;
    max-width: 7.5cm;
    height: 7.5cm;
    max-height: 7.5cm;
    box-shadow: 3px 3px 5px 6px #ccc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    flex-grow: 3;
}

.screen-horizontal{
    display: -webkit-inline-box;
    overflow: hidden;
}

/* End of screens */

/*Rows and divisions */

.top-row{
    display: flex;
    flex-direction: row;
    padding-right: 0.6cm;
    padding-left: 0.6cm;
    padding-bottom:0.18cm;
    font-size: 20px;
    align-items: flex-end;
}

.top-row{
    justify-content: space-between;
}

.top-row-space-around, .top-row-space-between, .top-row-right, .top-row-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding-top: 0.21cm;
}

.top-row-space-around{
    justify-content: space-around;
}

.top-row-space-between{
    justify-content: space-between;
    padding-right: 0.4cm;
    padding-left: 0.4cm;
}

.top-row-right{
    justify-content: flex-end;
    padding-right: 0.6cm;
    padding-bottom: 0.1cm;
}

.top-row-left{
    justify-content: flex-start;
    padding-right: 0.6cm;
    padding-bottom: 0.1cm;
}

.center-row-space-between, 
.center-row-left,
.center-row-space-around{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-row-left{
    justify-content: flex-start;
    padding-left: 0.2cm;
}

.center-row-space-between{
    justify-content: space-between;
}

.center-row-space-around{
    justify-content: space-around;
}

.bottom-row-space-around, 
.bottom-row-space-between,
.bottom-row-center,
.bottom-row-left{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0.26cm;
}

.bottom-row-space-between{
    justify-content: space-between;
}

.bottom-row-space-around{
    justify-content: space-around;
}

.bottom-row-center{
    justify-content: center;
}

.bottom-row-left{
    justify-content: flex-start;
    padding-left: 0.2cm;
}

/* End of rows and divisions */

/* Icons and images */

.img2{
    width: 2.4cm;
    height: 2.4cm;
    cursor: pointer;
}

.calling-img{
    width: 4cm;
    height: 4cm;
    cursor: pointer;
}

.battery{
    width: 0.8cm;
    height: 0.53cm;
}

.hours{
    font-size: 70px;
    padding-top: 5px;
}

.pair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sos{
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-radius: 84% 0 45% 0;
    height: 1.64cm;
    width:1.64cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.blank{
    height: 69px;
    width:71px;
}

.fingerprint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back{
    height: 1.05cm;
    width: 0.3cm;
    border-radius: 0 30% 30% 0;
    background-color: black;
    position: relative;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 2cm;
}

.arrows{
    height: 1.05cm;
    width: 1.05cm;
    border-radius: 30%;
    position: relative;
    cursor: pointer;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

.icon{
    border: 0.1cm solid black;
    border-radius: 15%;
    width: 1.2cm;
    height: 1.2cm;
    cursor: pointer;
    box-shadow: 1px 1px lightslategrey;
}

.gauge {
    width: 4.5em; height: 4.5em;
    display: inline-block;
    background: rgba(80, 77, 77, 0.05);
    position: relative;
    border: 1px ;
    text-indent: -999em;
    margin: 0.2em;
    box-shadow: 1px 1px pink ;
  }
  
.gauge::before {
    content: attr(data-value);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-indent: 0;
}
  
.gauge,
.gauge span,
.gauge span::before,
.gauge span::after {
    border-radius: 10em; 
}
 
.gauge span,
.gauge span::before,
.gauge span::after {
    box-sizing: border-box;
    position: absolute; 
    top: 0; left: 0; width: 100%; height: 100%;
}
  
  /* Container clipping handling */
.gauge[data-fill^="6"] span,
.gauge[data-fill^="7"] span,
.gauge[data-fill^="8"] span,
.gauge[data-fill^="9"] span,
.gauge[data-fill^="10"] span{ clip: rect(auto,auto,auto,auto)}
  
.gauge span,
.gauge[data-fill="6"] span,
.gauge[data-fill="7"] span,
.gauge[data-fill="8"] span,
.gauge[data-fill="9"] span,
.gauge[data-fill="10"] span {
clip: rect(0, 4.5em, 4.5em, 2.25em);
}

.gauge span::before,
.gauge span::after {
border: 0.7em solid pink;
content: '';
clip: rect(0, 2.25em, 4.5em, 0);
}
.gauge span::before {
transform: rotate(180deg);
}


/* All the values can be computed by a css pre processor loop */
.gauge[data-fill="0"] span::before{transform: rotate(0deg)}
.gauge[data-fill="5"] span::before{transform: rotate(18deg)}
.gauge[data-fill="10"] span::before{transform: rotate(36deg)}
.gauge[data-fill="15"] span::before{transform: rotate(54deg)}
.gauge[data-fill="20"] span::before{transform: rotate(72deg)}
.gauge[data-fill="25"] span::before{transform: rotate(90deg)}
.gauge[data-fill="30"] span::before{transform: rotate(108deg)}
.gauge[data-fill="35"] span::before{transform: rotate(126deg)}
.gauge[data-fill="40"] span::before{transform: rotate(144deg)}
.gauge[data-fill="45"] span::before{transform: rotate(162deg)}
.gauge[data-fill="50"] span::before{transform: rotate(180deg)}
.gauge[data-fill="55"] span::after{transform: rotate(-162deg)}
.gauge[data-fill="60"] span::after{transform: rotate(-144deg)}
.gauge[data-fill="65"] span::after{transform: rotate(-126deg)}
.gauge[data-fill="70"] span::after{transform: rotate(-108deg)}
.gauge[data-fill="75"] span::after{transform: rotate(-90deg)}
.gauge[data-fill="80"] span::after{transform: rotate(-72deg)}
.gauge[data-fill="85"] span::after{transform: rotate(-54deg)}
.gauge[data-fill="90"] span::after{transform: rotate(-36deg)}
.gauge[data-fill="95"] span::after{transform: rotate(-18deg)}




.subtitles{
    font-size: 12px;
}

.mytrip-icon{
    width: 80%;
    border: 0.1cm solid black;
    border-radius: 15%;
    cursor: pointer;
}

.plus-icon{
    border: 0.1cm solid black;
    border-radius: 15%;
    width: 0.7cm;
    height: 0.7cm;
    cursor: pointer;
    margin: 3px;
}

.ticket{
    width: 7.3cm;
    border: 0.1cm solid black;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scan {
    background-color: rgba(0,0,0,0.7);
    background-size: cover;
  }
  
.scan::after {
    content: '';
    position: absolute;
    width: 7.5cm;
    height: 11px;
    background-image: linear-gradient(to bottom,
      rgba(170, 184, 190, 0),
      rgba(170, 184, 190, .8));
    animation: scanning 3s linear infinite;
}

@keyframes scanning {
    100% { transform: translate(0, 7cm); }
}

.qrcode{
    width: 35%;
    height: 35%
}

.full-dot, .dot{
    width: 0.2cm;
    height: 0.2cm;
    border-radius: 50%;
    border: 0.05cm solid black;
    margin: 2px;
}

.full-dot{
    background-color: black;
}

.stars{
    width: 0.5cm;
    height: 0.5cm;
}

.dropdown{
    display: flex;
    border-radius: 15%;
    border: 0.1cm solid black;
}

.planBox{
    width:100%;
    overflow-y:scroll;
}

.planBox::-webkit-scrollbar{
    display: none;
}

.planLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3cm;
    align-items: center;
}

.overlay{
    background-color: rgba(0,0,0,0.7);
    background-image: url(Prot1/Assets/images/microphone.png);
    background-size: cover;
}

.sosBpm{
    font-size: 40px;
}

.sosBpmNumber{
    font-size: 30px;
}

.sosRectangles{
    width: 6cm;
    margin-left: 0.7cm;
    border: 0.1cm solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings{
    font-size: 28px;
    margin-left: 0.3cm;
    margin-bottom: 0.5cm;
}

.settingsIcons{
    border: 0.05cm solid white;
    border-radius: 15%;
    width: 0.7cm;
    height: 0.7cm;
    cursor: unset;
    margin: 3px;
    margin-left: 0.2cm;
    margin-right: 0.25cm;
}

.settingsRectangles{
    width: 7.5cm;
    margin-left: 0cm;
    border-top: 0.05cm solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accountRectangle{
    width: 6cm;
    height: 0.8cm;
    margin-left: 0.7cm;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    border: 0.1cm solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-arrow-icon{
    border: 0cm solid black;
    border-radius: 15%;
    width: 0.7cm;
    height: 0.7cm;
    cursor: pointer;
    margin: 3px;
}


/* Phone ringing ###################################################### */

.phone {
    width: 4cm;
    height: 4cm;
    margin-bottom: 0.5cm;
    -webkit-animation: NAME-YOUR-ANIMATION 2s infinite;
    -webkit-animation-iteration-count:infinite;
}

.phone:before {
    font-family: FontAwesome;
    /* content: "\f095"; */
    font-size: 17px;
}

@-webkit-keyframes NAME-YOUR-ANIMATION{
  0% {
  }
  10% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg); 
  }
  20% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
  30% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg);       
  }
   40% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
  50% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg);       
  }
   60% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
  70% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg);       
  }
  80% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
  90% {
    -webkit-transform:rotate(2.5deg);
    -moz-transform:rotate(2.5deg);
    -o-transform:rotate(2.5deg);       
  }
   100% {
    -webkit-transform:rotate(-2.5deg);
    -moz-transform:rotate(-2.5deg);
    -o-transform:rotate(-2.5deg);       
  }
}


/* Toggle switch 1 #################################################### */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  input.cmn-toggle-round + label {
    padding: 2px;
    width: 35px;
    height: 17.5px;
    background-color: #dddddd;
    border-radius: 60px;
    bottom: -0.17cm;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round + label:after {
    width: 19px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: 17px;
  }

  /* Toggle switch 2 #################################################### */
  .cmn-toggle2 {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle2 + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  input.cmn-toggle-round2 + label {
    padding: 2px;
    width: 35px;
    height: 17.5px;
    background-color: #dddddd;
    border-radius: 60px;
    bottom: -0.17cm;
  }
  input.cmn-toggle-round2 + label:before,
  input.cmn-toggle-round2 + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round2 + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round2 + label:after {
    width: 19px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.cmn-toggle-round2:checked + label:before {
    background-color: #8ce196;
  }
  input.cmn-toggle-round2:checked + label:after {
    margin-left: 17px;
  }