body{
    font-family:calibri; 
    text-align: center;
}

h1{
    color: green;   
}

.number{
    visibility: collapse
}

.img{
    width: 100px;
    height: 110px;
    cursor: pointer;
}

a:visited{
    color:blue;
}
a:hover{
    color: black;
}

/* Prototipo 1================================================================================== */


/* Screens */

.frame{
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.screen{
    border-left: 7px solid black;
    border-right: 7px solid black;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    border-radius: 15%;
    width: 7.5cm;
    max-width: 7.5cm;
    height: 7.5cm;
    max-height: 7.5cm;
    box-shadow: 3px 3px 5px 6px #ccc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    flex-grow: 3;
}

.screen-horizontal{
    display: -webkit-inline-box;
    overflow: hidden;
}

/* End of screens */

/*Rows and divisions */

.top-row{
    display: flex;
    flex-direction: row;
    padding-right: 0.6cm;
    padding-left: 0.6cm;
    padding-bottom:0.18cm;
    font-size: 20px;
    align-items: flex-end;
}

.top-row{
    justify-content: space-between;
}

.top-row-space-around, .top-row-space-between, .top-row-right, .top-row-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding-top: 0.21cm;
}

.top-row-space-around{
    justify-content: space-around;
}

.top-row-space-between{
    justify-content: space-between;
    padding-right: 0.4cm;
    padding-left: 0.4cm;
}

.top-row-right{
    justify-content: flex-end;
    padding-right: 0.6cm;
    padding-bottom: 0.1cm;
}

.top-row-left{
    justify-content: flex-start;
    padding-right: 0.6cm;
    padding-bottom: 0.1cm;
}

.center-row-space-between, 
.center-row-left,
.center-row-space-around{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-row-left{
    justify-content: flex-start;
    padding-left: 0.2cm;
}

.center-row-space-between{
    justify-content: space-between;
}

.center-row-space-around{
    justify-content: space-around;
}

.bottom-row-space-around, 
.bottom-row-space-between,
.bottom-row-center,
.bottom-row-left{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0.26cm;
}

.bottom-row-space-between{
    justify-content: space-between;
}

.bottom-row-space-around{
    justify-content: space-around;
}

.bottom-row-center{
    justify-content: center;
}

.bottom-row-left{
    justify-content: flex-start;
    padding-left: 0.2cm;
}

/* End of rows and divisions */

/* Icons and images */

.img2{
    width: 2.4cm;
    height: 2.4cm;
    cursor: pointer;
}

.battery{
    width: 0.8cm;
    height: 0.53cm;
}

.hours{
    font-size: 70px;
}

.pair{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sos{
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-radius: 84% 0 45% 0;
    height: 1.64cm;
    width:1.64cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blank{
    height: 69px;
    width:71px;
}

.fingerprint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back{
    height: 1.05cm;
    width: 0.3cm;
    border-radius: 0 30% 30% 0;
    background-color: black;
    position: relative;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 2cm;
}

.arrows{
    height: 1.05cm;
    width: 1.05cm;
    border-radius: 30%;
    position: relative;
    cursor: pointer;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

.icon{
    border: 0.1cm solid black;
    border-radius: 15%;
    width: 1.2cm;
    height: 1.2cm;
    cursor: pointer;
}

.gauges{
    border: 0.3cm solid black;
    border-radius: 50%;
    width: 1.2cm;
    height: 1.2cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.subtitles{
    font-size: 12px;
}

.mytrip-icon{
    width: 80%;
    border: 0.1cm solid black;
    border-radius: 15%;
    cursor: pointer;
}

.plus-icon{
    border: 0.1cm solid black;
    border-radius: 15%;
    width: 0.7cm;
    height: 0.7cm;
    cursor: pointer;
    margin: 3px;
}

.ticket{
    width: 7.3cm;
    border: 0.1cm solid black;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qrcode{
    width: 35%;
    height: 35%
}

.full-dot, .dot{
    width: 0.2cm;
    height: 0.2cm;
    border-radius: 50%;
    border: 0.05cm solid black;
    margin: 2px;
}

.full-dot{
    background-color: black;
}

.stars{
    width: 0.5cm;
    height: 0.5cm;
}

.dropdown{
    display: flex;
    border-radius: 15%;
    border: 0.1cm solid black;
}

.planBox{
    width:100%;
    overflow-y:scroll;
}

.planBox::-webkit-scrollbar{
    display: none;
}

.planLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3cm;
    align-items: center;
}

.overlay{
    background-color: rgba(0,0,0,0.7);
    background-image: url(Prot1/Assets/images/microphone.png);
    background-size: cover;
}