<!DOCTYPE html>

<html>

<head>
    <title>myTrip Menu</title>
    <link rel="stylesheet" href="../styles-component.css">
    <style type="css"></style>
    <script src="Assets/js/vue.js"></script>
    <script src="Assets/js/helpers.js"></script>
</head>

<body>
    <div class="frame" id="hotels">
        <div class="lock" onclick="lock()"></div>
        <div class="screen" id="screen" style="justify-content: flex-start">
            <div class="top-row-space-between" style="align-items:center;border-radius: 15%;border-bottom: 2px solid black; ">
                <span style="color:white;font-size: 20px">Add Hotel</span>
                <img class="plus-icon" src="Assets/images/img_370724.png" onclick="pushHotel()">
            </div>
            <div class="screen-body">
                <span  class="planLine" style="color:white;border-bottom: 2px solid black">
                    <span>Name: {{ newHotel.name }}</span>
                    <img class="plus-icon" src="Assets/images/edit-icon-6.png" onclick="showSpeech()">
                </span>
                <span onclick="showHours(1)" class="planLine" style="color:white;border-bottom: 2px solid black">
                    Check-in: {{ newHotel.checkin }}
                </span>
                <span onclick="showHours(2)" class="planLine" style="color:white;border-bottom: 2px solid black">
                    Check-out: {{ newHotel.checkout }}
                </span>
                <span style="color:white;"  onclick="showRoom()" class="planLine">
                    Room: {{ newHotel.room}}
                </span>
            </div>
        </div>
        <div class="screen" id="checkin" style="display:none">
            <div style="color:white; "class="top-row-space-around">
                Check in
            </div>
            <div class="center-row-space-around">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeDay(1,1)">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeMonth(1,1)">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeYear(1,1)">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeHour(1,1)">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeMinute(1,1)">
            </div>
            <div class="center-row-space-around">
                <div class="pair">
                    Day:
                    <div class="icon"> {{ newHotel.pre_checkinD }}</div>
                </div>
                <div class="pair">
                    Month:
                    <div class="icon"> {{ newHotel.pre_checkinM }}</div>
                </div>
                <div class="pair">
                    Year:
                    <div class="icon"> {{ newHotel.pre_checkinY }}</div>
                </div>
                <div class="pair">
                    Hours:
                    <div class="icon"> {{ newHotel.pre_checkinH }}</div>
                </div>
                <div class="pair">
                    Min:
                    <div class="icon"> {{ newHotel.pre_checkinMin }}</div>
                </div>
            </div>
            <div class="center-row-space-around">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeDay(-1,1)">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeMonth(-1,1)">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeYear(-1,1)">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeHour(-1,1)">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeMinute(-1,1)">
            </div>
            <div class="bottom-row-space-around">
                    <img class="plus-icon" src="Assets/images/img_370724.png" onclick="showHours(1)">
                </div>
        </div>
        <div class="screen" id="roombox" style="display:none">
            <div class="top-row-space-around">
                Room
            </div>
            <div class="center-row-space-around">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeRoom(1)">
            </div>
            <div class="center-row-space-around">
                <input class="icon" type="number" v-model="newHotel.room">
            </div>
            <div class="center-row-space-around">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeRoom(-1)">
            </div>
            <div class="bottom-row-space-around">
                <img class="plus-icon" src="Assets/images/img_370724.png" onclick="showRoom()">
            </div>
        </div>
        <div class="screen" id="checkout" style="display:none">
            <div class="top-row-space-around">
                Check out
            </div>
            <div class="center-row-space-around">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeDay(1,0)">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeMonth(1,0)">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeYear(1,0)">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeHour(1,0)">
                <img class="iconDate" style="border:none" src="Assets/images/up.png" onclick="changeMinute(1,0)">
            </div>
            <div class="center-row-space-around">
                <div class="pair">
                    Day:
                    <div class="icon"> {{ newHotel.pre_checkoutD }}</div>
                </div>
                <div class="pair">
                    Month:
                    <div class="icon"> {{ newHotel.pre_checkoutM }}</div>
                </div>
                <div class="pair">
                    Year:
                    <div class="icon"> {{ newHotel.pre_checkoutY }}</div>
                </div>
                <div class="pair">
                    Hours:
                    <div class="icon"> {{ newHotel.pre_checkoutH }}</div>
                </div>
                <div class="pair">
                    Minutes:
                    <div class="icon"> {{ newHotel.pre_checkoutMin }}</div>
                </div>
            </div>
            <div class="center-row-space-around">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeDay(-1,0)">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeMonth(-1,0)">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeYear(-1,0)">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeHour(-1,0)">
                <img class="iconDate" style="border:none" src="Assets/images/down.png" onclick="changeMinute(-1,0)">
            </div>
            <div class="bottom-row-space-around">
                <img class="plus-icon" src="Assets/images/img_370724.png" onclick="showHours(2)">
            </div>
        </div>
        <div class="screen confirm" id="confirm" style="display: none">
            <img style="align-self: center;" class="img2" src="Assets/images/question.png">
            <span id="confirmText" style="color: white; font-size: 30px">Are you sure?</span>
            <div class="center-row-space-around">
                <img id="yes" src="Assets/images/img_370724.png" class="icon" style="background-color: white">
                <img id="no" src="Assets/images/cross.png" class="icon" style="background-color: white">
            </div>
        </div>
        <div id="overlay" class="overlay" style="display:none">
            <img class="overlay-img" src="Assets/images/microphone.png">
        </div>
        <div id="back" class="back" onclick="backToHousing()"></div>
        <div style="display: none;margin-left: 0.2cm" id="textbox">
            <div class="pair">
                Simulate speech by typing here: <input v-model="newHotel.name">
                <img class="plus-icon" src="Assets/images/img_370724.png" onclick="showSpeech()">
            </div>
        </div>
    </div>
    <script src="Assets/js/hotels.js"></script>
</body>


</html>