<!DOCTYPE html>

<html>

<head>
    <title>Maps</title>
    <link rel="stylesheet" href="../styles-component.css">
    <style type="css"></style>
    <script src="Assets/js/vue.js"></script>
</head>

<body>
    <div class="frame" id="wrapper">
        <div class="lock" onclick="lock()"></div>
        <div class="screen" style="flex-direction: row">
            <div class="map">
                <img src="Assets/images/map.png">
            </div>
            <div class="mapItems">
                <img class="plus-icon" id="MeetingIcon" src="Assets/images/pin.jpg" style="border: 1px solid black" onclick="popUp('Meeting')">
                <img class="plus-icon" id="FriendsIcon" src="Assets/images/friends.png" style="border: 1px solid black" onclick="popUp('Friends')">
                <img class="plus-icon" id="InterestsIcon" src="Assets/images/binoculars.png" style="border: 1px solid black" onclick="popUp('Interests')">
            </div>
            <div class="mapPopup" id="plans">
                <div class="top-row-space-around" style="border-radius: 15%;border-bottom: 2px solid black">
                    <span style="color:black; font-size:20px">Pontos de encontro</span>
                </div>
                <div class="planBox" style="margin-bottom: 0.5cm">
                    <div class="planBox" v-for="(p,i) in events" v-bind:id="'plan' + i">
                        <div class="planLine" v-for="el in p">
                            <span style="color:black">{{ el.content }}</span>
                            <span style="color:black">{{ el.time }}</span>
                        </div>
                        <img class="plus-icon" src="Assets/images/edit-icon-6.png" onclick="editDay()">
                    </div>
                </div>
            </div>
            <div class="mapPopup" id="friends">
                <div class="top-row-space-around" style="border-radius: 15%;border-bottom: 2px solid black">
                    <span style="color:black; font-size:20px">Friends</span>
                </div>
                <div class="planBox" style="margin-bottom: 0.5cm">
                    <div class="planLine" v-for="f in friends">
                        <span style="color:black">{{ f }}</span>
                        <div>
                            <img class="plus-icon" src="Assets/images/trash_black.png" v-on:click="deleteFriend(f)" style="width:0.4cm; height:0.4cm">
                            <img class="plus-icon" src="Assets/images/mapicon.svg" style="width:0.4cm; height:0.4cm">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mapPopup" id="interests">
                <div class="top-row-space-around" style="border-radius: 15%;border-bottom: 2px solid black">
                    <span style="color:black; font-size:20px">Interests</span>
                </div>
            </div>
            <div class="search">
                <img class="plus-icon" src="Assets/images/magnifying-glass.png" style="border: 1px solid black">
            </div>
        <div class="back" onclick="mainMenu(); closePopups()"></div>
        <div id="target" style="width: 2px; height: 2px; background: red">
        </div>
    </img>
    <script src="Assets/js/map.js"></script>
    <script src="Assets/js/helpers.js"></script>
    <script src="Assets/js/friends.js"></script>
    <script src="Assets/js/plans.js"></script>
</body>

</html>