<!DOCTYPE html>

<html>

<head>
    <title>Maps</title>
    <link rel="stylesheet" href="../styles-component.css">
    <style type="css"></style>
    <script src="Assets/js/vue.js"></script>
</head>

<body>
    <div class="frame" id="wrapper">
        <div class="lock" onclick="lock()"></div>
        <div class="screen" style="flex-direction: row" id="screen">
            <div class="map" id="map">
                <img src="Assets/images/map.png">
            </div>
            <div class="mapItems">
                <img class="plus-icon" id="MeetingIcon" src="Assets/images/map-pin.png" style="border: 1px solid black; width: 1cm; height: 1cm"
                    onclick="popUp(0)">
                <img class="plus-icon" id="FriendsIcon" src="Assets/images/friends.png" style="border: 1px solid black; width: 1cm; height: 1cm"
                    onclick="popUp(1)">
                <img class="plus-icon" id="InterestsIcon" src="Assets/images/binoculars.png" style="border: 1px solid black; width: 1cm; height: 1cm"
                    onclick="popUp(2)">
            </div>

            <div class="mapPopup" id="plans" style="display: none">
                <div class="top-row-space-around" style="border-radius: 15%;border-bottom: 2px solid black">
                    <span style="color:black; font-size:20px">Meeting Points</span>
                </div>
                <div class="planBox" style="margin-bottom: 0.5cm">
                    <div class="planLine" v-if="conds.meetings" v-for="(p,i) in meetings" v-bind:id="'meetPoint' + i">
                        <span style="color:black">{{ el.content }}</span>
                        <span style="color:black">{{ el.time }}</span>
                    </div>
                    <div v-if="conds.meetings == false" class="planLine">No Meeting Points yet</div>
                    <div class="planLine" style="justify-content: center">
                        <img class="plus-icon" src="Assets/images/plus.png" style="border: 2px solid black">
                    </div>
                </div>
            </div>

            <div class="mapPopup" id="friends" style="display: none">
                <div class="top-row-space-around" style="border-radius: 15%;border-bottom: 2px solid black; padding-bottom:0.5cm">
                    <span style="color:black; font-size:20px">Friends</span>
                </div>
                <div class="planBox" style="margin-bottom: 0.5cm">
                    <div class="planLine" v-for="f in friends" v-if="conds.friends">
                        <span style="color:black">{{ f }}</span>
                        <div>
                            <img class="plus-icon" src="Assets/images/trash_black.png" v-on:click="deleteFriend(f)"
                                style="width:0.4cm; height:0.4cm">
                            <img class="plus-icon" src="Assets/images/mapicon.svg" style="width:0.4cm; height:0.4cm">
                        </div>
                    </div>
                    <span v-else>No Friends selected yet</span>
                    <div class="planLine" style="justify-content: center">
                        <img class="plus-icon" src="Assets/images/plus.png" style="border: 2px solid black">
                    </div>
                </div>
            </div>

            <div class="mapPopup" id="interests" style="display: none">
                <div class="top-row-space-around" style="border-radius: 15%;border-bottom: 2px solid black">
                    <span style="color:black; font-size:20px">Interests</span>
                </div>
                <div class="planBox" style="margin-bottom: 0.5cm">
                    <div class="planLine" v-for="i in interests" v-if="conds.interests">
                    </div>
                    <span v-if="conds.interests == false">No interest points yet </span>
                    <div class="planLine" style="justify-content: center">
                        <img class="plus-icon" src="Assets/images/plus.png" style="border: 2px solid black">
                    </div>
                </div>
            </div>

            <div class="search">
                <img class="plus-icon" src="Assets/images/magnifying-glass.png" onclick="showSpeech()" style="border: 1px solid black; width: 1cm; height: 1cm">
            </div>
        </div>

        <div id="overlay" class="overlay" style="display:none; align-items: center;">
            <img class="overlay-img" src="Assets/images/microphone.png">
            <img class="plus-icon" onclick="showSpeech()" src="Assets/images/cross.png">
        </div>

        <div class="back" onclick="mainMenu()"></div>

        <div style="display: none;margin-left: 0.2cm" id="textbox">
            <div class="pair">
                Simulate speech by typing here: <input>
                <img class="plus-icon" src="Assets/images/img_370724.png" onclick="showSpeech()">
            </div>
        </div>
    </div>
    <script src="Assets/js/map.js"></script>
    <script src="Assets/js/helpers.js"></script>
</body>

</html>