<!DOCTYPE html>

<html>

<head>
    <title>Health</title>
    <link rel="stylesheet" href="../styles-component.css">
    <style type="css"></style>
    <script src="Assets/js/vue.js"></script>
</head>

<body>
    <div class="frame" id="wrapper">
        <div class="lock" onclick="lock()"></div>
        <div class="screen">
            <div class="top-row" style="padding: 10px; align-items: none;">
                <div class="pair" style="flex-direction: row; align-items: center;">
                    <span class="healthName">{{ name }}</span>
                    <div class="pair">
                        <span class="healthBday">Birthday </span>
                        <span class="subtitles"> {{ birthday }}</span>
                    </div>
                </div>
            </div>

            <div class="planBox" style="margin: 0.1cm">
                <div class="med-item">
                    <span class="subtitles" style="font-size: 13px; text-align: left; margin-bottom:1px;">BLOOD TYPE</span>
                    <span class="infoData"> {{ bloodType }}</span>
                </div>
                <div class="med-item">
                    <span class="subtitles" style="font-size: 13px; text-align: left; margin-bottom:1px;">HEALTH PROBLEMS</span>
                    <span class="infoData" v-for="h in healthProblems"> {{ h }} </span>
                </div>
                <div class="med-item">
                    <span class="subtitles" style="font-size: 13px; text-align: left; margin-bottom:1px;">MEDICINES</span>
                    <span class="infoData" v-for="m in medicines"> {{ m }} </span>
                </div>
                <div class="med-item" style= "border-bottom: transparent;">
                    <span class="subtitles" style="font-size: 13px; text-align: left; margin-bottom:1px;">EMERGENCY CONTACT</span>
                    <span class="infoData" v-for="c in contacts"> {{c.contact}} ({{c.name}}) </span>
                </div>

            </div>
        </div>
        <div class="back" v-on:click="back"></div>
    </div>
    <script src="Assets/js/helpers.js"></script>
    <script src="Assets/js/medical.js"></script>
</body>

</html>